__pycache__/
*.pyc
logs/
Deimos-Testconfig.ini
venv
*.exe
testbot.txt
*.spec
!Deimos.spec
build/
dist/
*.env
.secret/*
.secret
.secrets
*.lock
!Cargo.lock
!uv.lock
!.gitignore

# Rust build output
target/
.*
